html,body{margin:0;background-color:#F4F7FB;color:#333}
.flex{display:flex}
.alignEnd{display:flex;align-items:flex-end;}

:root {
    --main-text-color: #ccc;
}

/* 在线链接服务仅供平台体验和调试使用，平台不承诺服务的稳定性，企业客户需下载字体包自行发布使用并做好备份。 */

i.iconfont{font-family:'iconfont';font-style:normal}

.__markdown__{outline:none;min-height:calc(100vh - 100px)}

@keyframes rotation {
    0% {
        transform:rotate(0deg)
    }
    100%{
        transform:rotate(360deg)
    }
}